* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calc-container {
    background-color: white;
    width: 420px;
    height: 500px;
    border-radius: 8px;
    padding: 13px;
    display: flex;
    flex-direction: column;
}

.display-screen {
    background-color: #e2dddd;
    padding: 15px;
    height: 80px;
    font-size: 40px;
    text-align: right;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.buttons-row {
    flex: 1;
    display: flex;
    gap: 5px;
}

button {
    padding: 10px;
    border: none;
    flex: 1;
    font-size: 20px;
}

.number {
    background-color: #e2dddd;
    color: red;
}

.operator {
    background-color: red;
    color: white;
}