* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calc-container {
    background-color: white;
    width: 420px;
    height: 500px;
    border-radius: 8px;
    padding: 13px;
}

.display-screen {
    background-color: #e2dddd;
    padding: 15px;
    height: 80px;
    font-size: 45px;
    text-align: right;
}